In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [30]:
%%hive
DROP TABLE IF EXISTS docs;
CREATE TABLE docs (line STRING);
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;

DROP TABLE IF EXISTS docs;
OK
Time taken: 0.088 seconds
CREATE TABLE docs (line STRING);
OK
Time taken: 0.04 seconds
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;
Loading data to table default.docs
OK
Time taken: 1.143 seconds

In [10]:
%%hive
SELECT * FROM docs;

SELECT * FROM docs;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
E	1994-02-14	5
A	1988-04-27	12
A	1990-10-06	10
E	1985-02-12	16
E	1998-09-14	16
B	1994-08-30	17
A	1997-12-15	13
B	1995-08-23	10
B	1998-11-22	13
B	1997-04-09	14
E	1993-12-27	18
E	1999-01-14	15
A	1992-09-19	18
B	1993-03-02	14
B	1999-10-21	13
A	1990-08-31	12
C	1994-01-25	6
E	1990-02-09	18
A	1990-09-26	14
A	1993-05-08	16
B	1995-09-06	14
E	1991-02-18	14
A	1993-01-11	14
A	1990-07-22	18
C	1994-09-09	15
C	1994-07-27	7
D	1990-10-10	15
A	1990-09-05	11
B	1991-10-01	15
A	1994-10-25	13
Time taken: 0.178 seconds, Fetched: 40 row(s)

In [87]:
%%hive 
DROP TABLE IF EXISTS dataTable; 

CREATE TABLE dataTable (letra STRING, fecha STRING, valor STRING);

INSERT OVERWRITE TABLE dataTable 
SELECT 
    regexp_extract(line, '^(?:([^\t]*)\t?){1}', 1) AS letra, 
    regexp_extract(line, '^(?:([^\t]*)\t?){2}', 1) AS fecha, 
    regexp_extract(line, '^(?:([^\t]*)\t?){3}', 1) AS valor
FROM
    docs;

DROP TABLE IF EXISTS dataTable;
OK
Time taken: 0.05 seconds
CREATE TABLE dataTable (letra STRING, fecha STRING, valor STRING);
OK
Time taken: 0.03 seconds
INSERT OVERWRITE TABLE dataTable
SELECT
    regexp_extract(line, '^(?:([^\t]*)\t?){1}', 1) AS letra,
    regexp_extract(line, '^(?:([^\t]*)\t?){2}', 1) AS fecha,
    regexp_extract(line, '^(?:([^\t]*)\t?){3}', 1) AS valor
FROM
    docs;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227162413_41ff6eff-ae6f-4678-8fcb-abb04b016238
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1582805926759_0025, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0025/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0025
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-27 16:24:21,894 Stage-1 map = 0%,  reduce = 0%
2020-02-27 16:24:28,468 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.97 sec
MapReduce Total cumulative CPU time: 2 seconds 970 msec
Ended Job = job_1582805926759_0025
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/datatable/.hive-staging_hive_2020-02-27_16-24-13_978_4598423537281853241-1/-ext-10000
Loading data to table default.datatable
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.97 sec   HDFS Read: 4804 HDFS Write: 711 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 970 msec
OK
Time taken: 16.151 seconds

In [88]:
%%hive 
SELECT * FROM dataTable;

SELECT * FROM dataTable;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
E	1994-02-14	5
A	1988-04-27	12
A	1990-10-06	10
E	1985-02-12	16
E	1998-09-14	16
B	1994-08-30	17
A	1997-12-15	13
B	1995-08-23	10
B	1998-11-22	13
B	1997-04-09	14
E	1993-12-27	18
E	1999-01-14	15
A	1992-09-19	18
B	1993-03-02	14
B	1999-10-21	13
A	1990-08-31	12
C	1994-01-25	6
E	1990-02-09	18
A	1990-09-26	14
A	1993-05-08	16
B	1995-09-06	14
E	1991-02-18	14
A	1993-01-11	14
A	1990-07-22	18
C	1994-09-09	15
C	1994-07-27	7
D	1990-10-10	15
A	1990-09-05	11
B	1991-10-01	15
A	1994-10-25	13
Time taken: 0.116 seconds, Fetched: 40 row(s)

In [89]:
%%hive
SELECT
    letra,
    fecha,
    CAST(valor AS INT)
FROM
    dataTable
ORDER BY
    letra,
    valor;

SELECT
    letra,
    fecha,
    CAST(valor AS INT)
FROM
    dataTable
ORDER BY
    letra,
    valor;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227162451_9d288676-e259-41e6-a977-f0b627e72e11
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582805926759_0026, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0026/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0026
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-27 16:24:58,932 Stage-1 map = 0%,  reduce = 0%
2020-02-27 16:25:05,549 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.26 sec
2020-02-27 16:25:11,011 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 5.0 sec
MapReduce Total cumulative CPU time: 5 seconds 0 msec
Ended Job = job_1582805926759_0026
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 5.0 sec   HDFS Read: 8489 HDFS Write: 1204 SUCCESS
Total MapReduce CPU Time Spent: 5 seconds 0 msec
OK
A	1990-10-06	10
A	1990-09-05	11
A	1988-04-27	12
A	1990-08-31	12
A	1997-12-15	13
A	1994-10-25	13
A	1993-01-11	14
A	1992-08-22	14
A	1990-09-26	14
A	1993-05-08	16
A	1990-07-22	18
A	1992-09-19	18
B	1995-08-23	10
B	1999-06-11	12
B	1998-11-22	13
B	1999-10-21	13
B	1997-04-09	14
B	1995-09-06	14
B	1993-03-02	14
B	1999-08-28	14
B	1991-10-01	15
B	1994-08-30	17
C	1994-01-25	6
C	1994-07-27	7
C	1991-02-12	13
C	1994-09-09	15
D	1990-10-10	15
E	1994-02-14	5
E	1999-09-10	11
E	1999-12-06	12
E	1993-01-27	13
E	1991-02-18	14
E	1999-01-14	15
E	1990-05-03	16
E	1998-09-14	16
E	1985-02-12	16
E	1995-04-25	16
E	1993-07-21	17
E	1990-02-09	18
E	1993-12-27	18
Time taken: 22.068 seconds, Fetched: 40 row(s)

In [90]:
%hive_quit

In [91]:
## Copia Archivos a sistema HDFS
##
## Se usan un directorio temporal en el HDFS. La siguiente
## instrucci贸n muestra el contenido del dicho directorio
##
!hdfs dfs -ls /tmp

Found 2 items
drwxrwx---   - root supergroup          0 2020-02-27 12:19 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-27 15:21 /tmp/hive

In [92]:
## Crea la carpeta wordcount en el hdfs
##
!hdfs dfs -mkdir /tmp/wordcount

In [93]:
## Verifica la creaci贸n de la carpeta
##
!hdfs dfs -ls /tmp/

Found 3 items
drwxrwx---   - root supergroup          0 2020-02-27 12:19 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-27 15:21 /tmp/hive
drwxr-xr-x   - root supergroup          0 2020-02-27 16:26 /tmp/wordcount

In [94]:
## Copia los archvios del directorio local wordcount/
## al directorio /tmp/wordcount/ en el hdfs
##
!hdfs dfs -copyFromLocal 'data.tsv'  /tmp/wordcount/

In [95]:
##
## Verifica que los archivos esten copiados
## en el hdfs
##
!hdfs dfs -ls /tmp/wordcount

Found 1 items
-rw-r--r--   1 root supergroup        677 2020-02-27 16:27 /tmp/wordcount/data.tsv

In [ ]:
####################################################################################################################
## Generaci贸n del script y ajuste del c贸digo

In [96]:
%%writefile wordcount.hql

DROP TABLE IF EXISTS docs;
DROP TABLE IF EXISTS dataTable; 

CREATE TABLE docs (line STRING);
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;

CREATE TABLE dataTable (letra STRING, fecha STRING, valor STRING);

INSERT OVERWRITE TABLE dataTable 
SELECT 
    regexp_extract(line, '^(?:([^\t]*)\t?){1}', 1) AS letra, 
    regexp_extract(line, '^(?:([^\t]*)\t?){2}', 1) AS fecha, 
    regexp_extract(line, '^(?:([^\t]*)\t?){3}', 1) AS valor
FROM
    docs;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT letra,fecha, CAST(valor AS INT)
FROM
    dataTable
ORDER BY
    letra,
    valor;

Writing wordcount.hql

In [97]:
## Ejecucion
!hive -S -e 'source wordcount.hql'

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [99]:
## Copia de los resultados a la maquina local (vagrant)
!hadoop fs -copyToLocal /tmp/output output
!ls output/*

output/000000_0

In [100]:
!cat output/000000_0 | head

A,1990-10-06,10
A,1990-09-05,11
A,1988-04-27,12
A,1990-08-31,12
A,1997-12-15,13
A,1994-10-25,13
A,1993-01-11,14
A,1992-08-22,14
A,1990-09-26,14
A,1993-05-08,16