In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 11.752 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 1.2 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 2.152 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.009 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.075 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.928 seconds

In [3]:
%%hive 
SELECT * FROM tbl0;

SELECT * FROM tbl0;
OK
1	D	4	2016-06-25	["a","e","c","d"]	{"bb":10,"dd":20,"cc":40}
2	C	4	2015-05-14	["a","c"]	{"dd":40,"bb":20,"cc":10}
3	D	6	2014-12-26	["b","d"]	{"aa":10,"bb":40}
4	D	5	2016-06-25	["a","c","e","b","d"]	{"bb":40,"dd":20,"aa":10,"cc":30}
5	C	7	2016-05-23	["d","e","c"]	{"cc":10,"aa":20}
6	A	2	2018-06-14	["a","d"]	{"aa":20}
7	B	3	2014-12-22	["a","e","d"]	{"cc":20}
8	C	6	2015-08-20	["d","a","c","e"]	{"cc":10,"aa":20}
9	B	3	2017-12-08	["b","a","c","e"]	{"cc":40,"dd":10,"aa":30,"bb":20}
10	B	7	2015-07-28	["c","d","e","a","b"]	{"aa":10,"dd":40,"cc":30}
Time taken: 2.319 seconds, Fetched: 10 row(s)

In [4]:
%%hive 
SELECT c5 FROM tbl0;

SELECT c5 FROM tbl0;
OK
["a","e","c","d"]
["a","c"]
["b","d"]
["a","c","e","b","d"]
["d","e","c"]
["a","d"]
["a","e","d"]
["d","a","c","e"]
["b","a","c","e"]
["c","d","e","a","b"]
Time taken: 0.223 seconds, Fetched: 10 row(s)

In [5]:
%%hive 
SELECT c4 FROM tbl0;

SELECT c4 FROM tbl0;
OK
2016-06-25
2015-05-14
2014-12-26
2016-06-25
2016-05-23
2018-06-14
2014-12-22
2015-08-20
2017-12-08
2015-07-28
Time taken: 0.214 seconds, Fetched: 10 row(s)

In [6]:
%%hive
SELECT explode(c5) AS word FROM tbl0;

SELECT explode(c5) AS word FROM tbl0;
OK
a
e
c
d
a
c
b
d
a
c
e
b
d
d
e
c
a
d
a
e
d
d
a
c
e
b
a
c
e
c
d
e
a
b
Time taken: 0.425 seconds, Fetched: 34 row(s)

In [7]:
%%hive
SELECT SUBSTR(c4, 1, 4) AS word FROM tbl0;

SELECT SUBSTR(c4, 1, 4) AS word FROM tbl0;
OK
2016
2015
2014
2016
2016
2018
2014
2015
2017
2015
Time taken: 0.253 seconds, Fetched: 10 row(s)

In [8]:
%%hive 
DROP TABLE IF EXISTS dataTable; 

CREATE TABLE dataTable (fecha STRING, letra ARRAY<CHAR(1)>);

INSERT OVERWRITE TABLE dataTable 
SELECT 
    SUBSTR(c4, 1, 4) AS fecha,
    c5 AS letra
FROM
    tbl0;

DROP TABLE IF EXISTS dataTable;
OK
Time taken: 0.009 seconds
CREATE TABLE dataTable (fecha STRING, letra ARRAY<CHAR(1)>);
OK
Time taken: 0.127 seconds
INSERT OVERWRITE TABLE dataTable
SELECT
    SUBSTR(c4, 1, 4) AS fecha,
    c5 AS letra
FROM
    tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200228004923_476ce08b-0307-4fe7-a951-6c04e95b294d
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1582850386869_0001, Tracking URL = http://77b0213d6cab:8088/proxy/application_1582850386869_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582850386869_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-28 00:49:39,389 Stage-1 map = 0%,  reduce = 0%
2020-02-28 00:49:46,304 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.27 sec
MapReduce Total cumulative CPU time: 3 seconds 270 msec
Ended Job = job_1582850386869_0001
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/datatable/.hive-staging_hive_2020-02-28_00-49-23_885_3142101908173379883-1/-ext-10000
Loading data to table default.datatable
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 3.27 sec   HDFS Read: 5176 HDFS Write: 192 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 270 msec
OK
Time taken: 25.396 seconds

In [9]:
%%hive 
SELECT * FROM dataTable ORDER BY fecha;

SELECT * FROM dataTable ORDER BY fecha;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200228004955_ffc37d21-d5a9-4bdf-b870-5ea7abf792a4
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582850386869_0002, Tracking URL = http://77b0213d6cab:8088/proxy/application_1582850386869_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582850386869_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-28 00:50:04,559 Stage-1 map = 0%,  reduce = 0%
2020-02-28 00:50:11,383 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.43 sec
2020-02-28 00:50:18,055 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.79 sec
MapReduce Total cumulative CPU time: 4 seconds 790 msec
Ended Job = job_1582850386869_0002
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.79 sec   HDFS Read: 7811 HDFS Write: 325 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 790 msec
OK
2014	["a","e","d"]
2014	["b","d"]
2015	["c","d","e","a","b"]
2015	["d","a","c","e"]
2015	["a","c"]
2016	["d","e","c"]
2016	["a","c","e","b","d"]
2016	["a","e","c","d"]
2017	["b","a","c","e"]
2018	["a","d"]
Time taken: 25.148 seconds, Fetched: 10 row(s)

In [18]:
%%hive

SELECT
    fecha,
    let
FROM
    dataTable
LATERAL VIEW
    explode(letra) dataTable AS let
LIMIT 10;

SELECT
    fecha,
    let
FROM
    dataTable
LATERAL VIEW
    explode(letra) dataTable AS let
LIMIT 10;
OK
2016	a
2016	e
2016	c
2016	d
2015	a
2015	c
2014	b
2014	d
2016	a
2016	c
Time taken: 0.068 seconds, Fetched: 10 row(s)

In [37]:
%%hive
DROP TABLE IF EXISTS wordCount; 

CREATE TABLE wordCount (year STRING, clave STRING);

INSERT OVERWRITE TABLE wordCount 
SELECT
    fecha,
    let
FROM
    dataTable
LATERAL VIEW
    explode(letra) dataTable AS let;

DROP TABLE IF EXISTS wordCount;
OK
Time taken: 0.052 seconds
CREATE TABLE wordCount (year STRING, clave STRING, valor INT);
OK
Time taken: 0.037 seconds
INSERT OVERWRITE TABLE wordCount
SELECT
    fecha,
    let,
    1
FROM
    dataTable
LATERAL VIEW
    explode(letra) dataTable AS let;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200228012241_2fc0f71c-5781-49ca-9262-fcebf40602c8
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1582850386869_0007, Tracking URL = http://77b0213d6cab:8088/proxy/application_1582850386869_0007/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582850386869_0007
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-28 01:22:50,769 Stage-1 map = 0%,  reduce = 0%
2020-02-28 01:22:57,363 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 3.11 sec
MapReduce Total cumulative CPU time: 3 seconds 110 msec
Ended Job = job_1582850386869_0007
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/wordcount/.hive-staging_hive_2020-02-28_01-22-41_584_938451180076818572-1/-ext-10000
Loading data to table default.wordcount
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 3.11 sec   HDFS Read: 5859 HDFS Write: 380 SUCCESS
Total MapReduce CPU Time Spent: 3 seconds 110 msec
OK
Time taken: 18.513 seconds

In [38]:
%%hive 
SELECT * FROM wordCount;

SELECT * FROM wordCount;
OK
2016	a	1
2016	e	1
2016	c	1
2016	d	1
2015	a	1
2015	c	1
2014	b	1
2014	d	1
2016	a	1
2016	c	1
2016	e	1
2016	b	1
2016	d	1
2016	d	1
2016	e	1
2016	c	1
2018	a	1
2018	d	1
2014	a	1
2014	e	1
2014	d	1
2015	d	1
2015	a	1
2015	c	1
2015	e	1
2017	b	1
2017	a	1
2017	c	1
2017	e	1
2015	c	1
2015	d	1
2015	e	1
2015	a	1
2015	b	1
Time taken: 0.147 seconds, Fetched: 34 row(s)

In [45]:
%%hive 
DROP TABLE IF EXISTS word_counts_2;
CREATE TABLE word_counts_2
AS
    SELECT year, clave, count(1) AS count
    FROM
        wordCount
GROUP BY
    year, clave;

DROP TABLE IF EXISTS word_counts_2;
OK
Time taken: 0.006 seconds
CREATE TABLE word_counts_2
AS
    SELECT year, clave, count(1) AS count
    FROM
        wordCount
GROUP BY
    year, clave;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200228012835_8e3d02c7-6fff-46f9-89f2-ec4d03e49977
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582850386869_0010, Tracking URL = http://77b0213d6cab:8088/proxy/application_1582850386869_0010/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582850386869_0010
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-28 01:28:45,390 Stage-1 map = 0%,  reduce = 0%
2020-02-28 01:28:51,934 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.15 sec
2020-02-28 01:28:58,469 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.34 sec
MapReduce Total cumulative CPU time: 4 seconds 340 msec
Ended Job = job_1582850386869_0010
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/word_counts_2
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.34 sec   HDFS Read: 8512 HDFS Write: 258 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 340 msec
OK
Time taken: 24.488 seconds

In [46]:
%%hive 
SELECT * FROM word_counts_2;

SELECT * FROM word_counts_2;
OK
2014	a	1
2014	b	1
2014	d	2
2014	e	1
2015	a	3
2015	b	1
2015	c	3
2015	d	2
2015	e	2
2016	a	2
2016	b	1
2016	c	3
2016	d	3
2016	e	3
2017	a	1
2017	b	1
2017	c	1
2017	e	1
2018	a	1
2018	d	1
Time taken: 0.149 seconds, Fetched: 20 row(s)

In [1]:
%hive_quit

UsageError: Line magic function `%hive_quit` not found.

In [2]:
## Copia Archivos a sistema HDFS
##
## Se usan un directorio temporal en el HDFS. La siguiente
## instrucci贸n muestra el contenido del dicho directorio
##
!hdfs dfs -ls /tmp

Found 4 items
drwxrwx---   - root supergroup          0 2020-02-28 10:38 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-28 10:51 /tmp/hive
drwxrwxrwx   - root supergroup          0 2020-02-28 13:11 /tmp/output
drwxr-xr-x   - root supergroup          0 2020-02-28 11:35 /tmp/wordcount

In [3]:
## Crea la carpeta wordcount en el hdfs
##
!hdfs dfs -mkdir /tmp/wordcount

mkdir: `/tmp/wordcount': File exists

In [4]:
## Verifica la creaci贸n de la carpeta
##
!hdfs dfs -ls /tmp/

Found 4 items
drwxrwx---   - root supergroup          0 2020-02-28 10:38 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-28 10:51 /tmp/hive
drwxrwxrwx   - root supergroup          0 2020-02-28 13:11 /tmp/output
drwxr-xr-x   - root supergroup          0 2020-02-28 11:35 /tmp/wordcount

In [5]:
## Copia los archvios del directorio local wordcount/
## al directorio /tmp/wordcount/ en el hdfs
##
!hdfs dfs -copyFromLocal 'data.tsv'  /tmp/wordcount/

copyFromLocal: `data.tsv': No such file or directory

In [6]:
##
## Verifica que los archivos esten copiados
## en el hdfs
##
!hdfs dfs -ls /tmp/wordcount

In [7]:
####################################################################################################################
## Generaci贸n del script y ajuste del c贸digo

In [8]:
%%writefile wordcount.hql

DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS dataTable; 
CREATE TABLE dataTable (fecha STRING, letra ARRAY<CHAR(1)>);
INSERT OVERWRITE TABLE dataTable 
SELECT 
    SUBSTR(c4, 1, 4) AS fecha,
    c5 AS letra
FROM
    tbl0;
    
DROP TABLE IF EXISTS wordCount; 
CREATE TABLE wordCount (year STRING, clave STRING);
INSERT OVERWRITE TABLE wordCount 
SELECT
    fecha,
    let
FROM
    dataTable
LATERAL VIEW
    explode(letra) dataTable AS let;  
    

DROP TABLE IF EXISTS word_counts_2;
CREATE TABLE word_counts_2
AS
    SELECT year, clave, count(1) AS count
    FROM
        wordCount
GROUP BY
    year, clave;  

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

SELECT * FROM word_counts_2;

Overwriting wordcount.hql

In [9]:
## Ejecucion
!hive -S -e 'source wordcount.hql'

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [10]:
## Copia de los resultados a la maquina local (vagrant)
!hadoop fs -copyToLocal /tmp/output output
!ls output/*

output/000000_0

In [11]:
!cat output/000000_0 | head

2014,a,1
2014,b,1
2014,d,2
2014,e,1
2015,a,3
2015,b,1
2015,c,3
2015,d,2
2015,e,2
2016,a,2