In [1]:
%load_ext bigdata

In [2]:
%hive_start

In [3]:
%timeout 300

In [4]:
%%hive
DROP TABLE IF EXISTS docs;
CREATE TABLE docs (line STRING);

DROP TABLE IF EXISTS docs;
OK
Time taken: 10.122 seconds
CREATE TABLE docs (line STRING);
OK
Time taken: 0.677 seconds

In [5]:
%%hive
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;
SELECT * FROM docs LIMIT 5;

LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;
Loading data to table default.docs
OK
Time taken: 1.362 seconds
SELECT * FROM docs LIMIT 5;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
Time taken: 1.49 seconds, Fetched: 5 row(s)

In [ ]:
%%hive
DROP TABLE IF EXISTS word_counts;

CREATE TABLE word_counts
AS
    SELECT word, ',',count(1) AS count
    FROM
        (SELECT SUBSTR(line, 1, 1) AS word FROM docs) w
GROUP BY
    word
ORDER BY
    word;

DROP TABLE IF EXISTS word_counts;
OK
Time taken: 10.097 seconds
CREATE TABLE word_counts
AS
    SELECT word, ',',count(1) AS count
    FROM
        (SELECT SUBSTR(line, 1, 1) AS word FROM docs) w
GROUP BY
    word
ORDER BY

In [11]:
%%hive
SELECT * FROM word_counts;

SELECT * FROM word_counts;
OK
A	12
B	10
C	4
D	1
E	13
Time taken: 0.157 seconds, Fetched: 5 row(s)

In [14]:
%hive_quit