In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 11.879 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.865 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.654 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.127 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.074 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 1.03 seconds

In [5]:
%%hive 
SELECT * FROM tbl0;

SELECT * FROM tbl0;
OK
1	D	4	2016-06-25	["a","e","c","d"]	{"bb":10,"dd":20,"cc":40}
2	C	4	2015-05-14	["a","c"]	{"dd":40,"bb":20,"cc":10}
3	D	6	2014-12-26	["b","d"]	{"aa":10,"bb":40}
4	D	5	2016-06-25	["a","c","e","b","d"]	{"bb":40,"dd":20,"aa":10,"cc":30}
5	C	7	2016-05-23	["d","e","c"]	{"cc":10,"aa":20}
6	A	2	2018-06-14	["a","d"]	{"aa":20}
7	B	3	2014-12-22	["a","e","d"]	{"cc":20}
8	C	6	2015-08-20	["d","a","c","e"]	{"cc":10,"aa":20}
9	B	3	2017-12-08	["b","a","c","e"]	{"cc":40,"dd":10,"aa":30,"bb":20}
10	B	7	2015-07-28	["c","d","e","a","b"]	{"aa":10,"dd":40,"cc":30}
Time taken: 0.23 seconds, Fetched: 10 row(s)

In [10]:
%%hive 
SELECT c5 FROM tbl0;

SELECT c5 FROM tbl0;
OK
["a","e","c","d"]
["a","c"]
["b","d"]
["a","c","e","b","d"]
["d","e","c"]
["a","d"]
["a","e","d"]
["d","a","c","e"]
["b","a","c","e"]
["c","d","e","a","b"]
Time taken: 0.178 seconds, Fetched: 10 row(s)

In [15]:
%%hive
SELECT explode(c5) AS word FROM tbl0;

SELECT explode(c5) AS word FROM tbl0;
OK
a
e
c
d
a
c
b
d
a
c
e
b
d
d
e
c
a
d
a
e
d
d
a
c
e
b
a
c
e
c
d
e
a
b
Time taken: 0.091 seconds, Fetched: 34 row(s)

In [26]:
%%hive 
DROP TABLE IF EXISTS testTable; 

CREATE TABLE testTable (letra STRING);

INSERT OVERWRITE TABLE testTable 
SELECT 
    explode(c5) AS letra
FROM
    tbl0;

    tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227193949_412f5a1a-28f4-4fce-b5a3-7a678bbb110c
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1582805926759_0097, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0097/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0097
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-27 19:39:56,515 Stage-1 map = 0%,  reduce = 0%
2020-02-27 19:40:03,168 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.63 sec
MapReduce Total cumulative CPU time: 2 seconds 630 msec
Ended Job = job_1582805926759_0097
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/testtable/.hive-staging_hive_2020-02-27_19-39-49_943_1479427595084890384-1/-ext-10000
Loading data to table default.testtable
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.63 sec   HDFS Read: 5359 HDFS Write: 141 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 630 msec
OK
Time taken: 14.978 seconds
DROP TABLE IF EXISTS testTable;
OK
Time taken: 0.053 seconds
CREATE TABLE testTable (letra STRING);
OK
Time taken: 0.038 seconds
INSERT OVERWRITE TABLE testTable
SELECT
    explode(c5) AS letra
FROM

In [30]:
%%hive 
SELECT letra FROM testTable GROUP BY letra ORDER BY letra;

SELECT letra FROM testTable GROUP BY letra ORDER BY letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227194042_be65e14f-c38e-4018-a177-f0859dee1479
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582805926759_0099, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0099/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0099
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-27 19:40:50,495 Stage-1 map = 0%,  reduce = 0%
2020-02-27 19:40:57,047 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.74 sec
2020-02-27 19:41:03,597 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.18 sec
MapReduce Total cumulative CPU time: 3 seconds 180 msec
Ended Job = job_1582805926759_0099
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582805926759_0100, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0100/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0100
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-27 19:41:16,404 Stage-2 map = 0%,  reduce = 0%
2020-02-27 19:41:21,910 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.29 sec
2020-02-27 19:41:27,869 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.02 sec
MapReduce Total cumulative CPU time: 3 seconds 20 msec
Ended Job = job_1582805926759_0100
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.18 sec   HDFS Read: 6569 HDFS Write: 191 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.02 sec   HDFS Read: 5053 HDFS Write: 157 SUCCESS
Total MapReduce CPU Time Spent: 6 seconds 200 msec
OK
a
b
c
d
e
Time taken: 47.603 seconds, Fetched: 5 row(s)

In [31]:
%hive_quit

In [32]:
## Copia Archivos a sistema HDFS
##
## Se usan un directorio temporal en el HDFS. La siguiente
## instrucción muestra el contenido del dicho directorio
##
!hdfs dfs -ls /tmp

Found 4 items
drwxrwx---   - root supergroup          0 2020-02-27 12:19 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-27 15:21 /tmp/hive
drwxrwxrwx   - root supergroup          0 2020-02-27 19:03 /tmp/output
drwxr-xr-x   - root supergroup          0 2020-02-27 18:39 /tmp/wordcount

In [33]:
## Crea la carpeta wordcount en el hdfs
##
!hdfs dfs -mkdir /tmp/wordcount

mkdir: `/tmp/wordcount': File exists

In [34]:
## Verifica la creación de la carpeta
##
!hdfs dfs -ls /tmp/

Found 4 items
drwxrwx---   - root supergroup          0 2020-02-27 12:19 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-27 15:21 /tmp/hive
drwxrwxrwx   - root supergroup          0 2020-02-27 19:03 /tmp/output
drwxr-xr-x   - root supergroup          0 2020-02-27 18:39 /tmp/wordcount

In [35]:
## Copia los archvios del directorio local wordcount/
## al directorio /tmp/wordcount/ en el hdfs
##
!hdfs dfs -copyFromLocal 'data.tsv'  /tmp/wordcount/

copyFromLocal: `data.tsv': No such file or directory

In [36]:
##
## Verifica que los archivos esten copiados
## en el hdfs
##
!hdfs dfs -ls /tmp/wordcount

In [37]:
####################################################################################################################
## Generación del script y ajuste del código

In [48]:
%%writefile wordcount.hql

DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;


DROP TABLE IF EXISTS testTable; 
CREATE TABLE testTable (letra STRING);
INSERT OVERWRITE TABLE testTable 
SELECT 
    explode(c5) AS letra
FROM
    tbl0;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
    
SELECT letra FROM testTable GROUP BY letra ORDER BY letra;

Overwriting wordcount.hql

In [49]:
## Ejecucion
!hive -S -e 'source wordcount.hql'

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [52]:
## Copia de los resultados a la maquina local (vagrant)
!hadoop fs -copyToLocal /tmp/output output
!ls output/*

output/000000_0

In [53]:
!cat output/000000_0 | head

a
b
c
d
e