In [1]:
%load_ext bigdata
%hive_start
%timeout 300

In [2]:
%%hive
DROP TABLE IF EXISTS docs;
CREATE TABLE docs (line STRING);
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;

DROP TABLE IF EXISTS docs;
OK
Time taken: 12.911 seconds
CREATE TABLE docs (line STRING);
OK
Time taken: 0.738 seconds
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;
Loading data to table default.docs
OK
Time taken: 1.484 seconds

In [3]:
%%hive
SELECT * FROM docs;

SELECT * FROM docs;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
E	1994-02-14	5
A	1988-04-27	12
A	1990-10-06	10
E	1985-02-12	16
E	1998-09-14	16
B	1994-08-30	17
A	1997-12-15	13
B	1995-08-23	10
B	1998-11-22	13
B	1997-04-09	14
E	1993-12-27	18
E	1999-01-14	15
A	1992-09-19	18
B	1993-03-02	14
B	1999-10-21	13
A	1990-08-31	12
C	1994-01-25	6
E	1990-02-09	18
A	1990-09-26	14
A	1993-05-08	16
B	1995-09-06	14
E	1991-02-18	14
A	1993-01-11	14
A	1990-07-22	18
C	1994-09-09	15
C	1994-07-27	7
D	1990-10-10	15
A	1990-09-05	11
B	1991-10-01	15
A	1994-10-25	13
Time taken: 1.667 seconds, Fetched: 40 row(s)

In [23]:
%%hive 
DROP TABLE IF EXISTS dataTable; 

CREATE TABLE dataTable (letra STRING, fecha STRING, valor STRING);

INSERT OVERWRITE TABLE dataTable 
SELECT 
    regexp_extract(line, '^(?:([^\t]*)\t?){1}', 1) AS letra, 
    regexp_extract(line, '^(?:([^\t]*)\t?){2}', 1) AS fecha, 
    regexp_extract(line, '^(?:([^\t]*)\t?){3}', 1) AS valor
FROM
    docs;

DROP TABLE IF EXISTS dataTable;
OK
Time taken: 0.352 seconds
CREATE TABLE dataTable (letra STRING, fecha STRING, valor STRING);
OK
Time taken: 0.037 seconds
INSERT OVERWRITE TABLE dataTable
SELECT
    regexp_extract(line, '^(?:([^\t]*)\t?){1}', 1) AS letra,
    regexp_extract(line, '^(?:([^\t]*)\t?){2}', 1) AS fecha,
    regexp_extract(line, '^(?:([^\t]*)\t?){3}', 1) AS valor
FROM
    docs;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227171031_91ddb02b-5cab-4c14-9ad2-d61477a5b511
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1582805926759_0044, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0044/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0044
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-27 17:10:40,405 Stage-1 map = 0%,  reduce = 0%
2020-02-27 17:10:45,882 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.77 sec
MapReduce Total cumulative CPU time: 2 seconds 770 msec
Ended Job = job_1582805926759_0044
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/datatable/.hive-staging_hive_2020-02-27_17-10-31_090_4257221313432107655-1/-ext-10000
Loading data to table default.datatable
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.77 sec   HDFS Read: 4799 HDFS Write: 711 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 770 msec
OK
Time taken: 16.601 seconds

In [48]:
%%hive 
DROP TABLE IF EXISTS testTable; 

CREATE TABLE testTable (numero INT);

INSERT OVERWRITE TABLE testTable 
SELECT 
    CAST(valor AS INT) AS numero
FROM
    dataTable;

DROP TABLE IF EXISTS testTable;
OK
Time taken: 0.052 seconds
CREATE TABLE testTable (numero INT);
OK
Time taken: 0.051 seconds
INSERT OVERWRITE TABLE testTable
SELECT
    CAST(valor AS INT) AS numero
FROM
    dataTable;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227173205_c688aca5-0c37-4f20-a25a-95e51c3a76de
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1582805926759_0056, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0056/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0056
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2020-02-27 17:32:14,105 Stage-1 map = 0%,  reduce = 0%
2020-02-27 17:32:19,766 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.63 sec
MapReduce Total cumulative CPU time: 2 seconds 630 msec
Ended Job = job_1582805926759_0056
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/testtable/.hive-staging_hive_2020-02-27_17-32-05_380_4309623158718569802-1/-ext-10000
Loading data to table default.testtable
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 2.63 sec   HDFS Read: 4604 HDFS Write: 190 SUCCESS
Total MapReduce CPU Time Spent: 2 seconds 630 msec
OK
Time taken: 16.067 seconds

In [49]:
%%hive 
SELECT numero FROM testTable GROUP BY numero ORDER BY numero LIMIT 5;

SELECT numero FROM testTable GROUP BY numero ORDER BY numero LIMIT 5;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200227173226_28070721-826f-4435-8893-dd2e4e08a719
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582805926759_0057, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0057/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0057
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-27 17:32:34,193 Stage-1 map = 0%,  reduce = 0%
2020-02-27 17:32:39,738 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.67 sec
2020-02-27 17:32:47,032 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 3.69 sec
MapReduce Total cumulative CPU time: 3 seconds 690 msec
Ended Job = job_1582805926759_0057
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1582805926759_0058, Tracking URL = http://6f00cce67c14:8088/proxy/application_1582805926759_0058/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1582805926759_0058
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2020-02-27 17:33:00,135 Stage-2 map = 0%,  reduce = 0%
2020-02-27 17:33:05,629 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 1.51 sec
2020-02-27 17:33:12,193 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 3.31 sec
MapReduce Total cumulative CPU time: 3 seconds 310 msec
Ended Job = job_1582805926759_0058
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 3.69 sec   HDFS Read: 6614 HDFS Write: 186 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 3.31 sec   HDFS Read: 5172 HDFS Write: 159 SUCCESS
Total MapReduce CPU Time Spent: 7 seconds 0 msec
OK
5
6
7
10
11
Time taken: 47.131 seconds, Fetched: 5 row(s)

In [ ]:
%hive_quit

In [65]:
## Copia Archivos a sistema HDFS
##
## Se usan un directorio temporal en el HDFS. La siguiente
## instrucci贸n muestra el contenido del dicho directorio
##
!hdfs dfs -ls /tmp

Found 4 items
drwxrwx---   - root supergroup          0 2020-02-27 12:19 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-27 15:21 /tmp/hive
drwxrwxrwx   - root supergroup          0 2020-02-27 16:38 /tmp/output
drwxr-xr-x   - root supergroup          0 2020-02-27 16:27 /tmp/wordcount

In [66]:
## Crea la carpeta wordcount en el hdfs
##
!hdfs dfs -mkdir /tmp/wordcount

mkdir: `/tmp/wordcount': File exists

In [67]:
## Verifica la creaci贸n de la carpeta
##
!hdfs dfs -ls /tmp/

Found 4 items
drwxrwx---   - root supergroup          0 2020-02-27 12:19 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2020-02-27 15:21 /tmp/hive
drwxrwxrwx   - root supergroup          0 2020-02-27 16:38 /tmp/output
drwxr-xr-x   - root supergroup          0 2020-02-27 16:27 /tmp/wordcount

In [68]:
## Copia los archvios del directorio local wordcount/
## al directorio /tmp/wordcount/ en el hdfs
##
!hdfs dfs -copyFromLocal 'data.tsv'  /tmp/wordcount/

copyFromLocal: `/tmp/wordcount/data.tsv': File exists

In [69]:
##
## Verifica que los archivos esten copiados
## en el hdfs
##
!hdfs dfs -ls /tmp/wordcount

Found 1 items
-rw-r--r--   1 root supergroup        677 2020-02-27 16:27 /tmp/wordcount/data.tsv

In [70]:
####################################################################################################################
## Generaci贸n del script y ajuste del c贸digo

In [71]:
%%writefile wordcount.hql

DROP TABLE IF EXISTS docs;
DROP TABLE IF EXISTS dataTable;
DROP TABLE IF EXISTS testTable; 

CREATE TABLE docs (line STRING);
LOAD DATA INPATH "/tmp/wordcount/*" OVERWRITE INTO TABLE docs;

CREATE TABLE dataTable (letra STRING, fecha STRING, valor STRING);

INSERT OVERWRITE TABLE dataTable 
SELECT 
    regexp_extract(line, '^(?:([^\t]*)\t?){1}', 1) AS letra, 
    regexp_extract(line, '^(?:([^\t]*)\t?){2}', 1) AS fecha, 
    regexp_extract(line, '^(?:([^\t]*)\t?){3}', 1) AS valor
FROM
    docs;
    


CREATE TABLE testTable (numero INT);

INSERT OVERWRITE TABLE testTable 
SELECT 
    CAST(valor AS INT) AS numero
FROM
    dataTable;

INSERT OVERWRITE DIRECTORY '/tmp/output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','

SELECT numero FROM testTable GROUP BY numero ORDER BY numero LIMIT 5;

Overwriting wordcount.hql

In [72]:
## Ejecucion
!hive -S -e 'source wordcount.hql'

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/local/hive/lib/log4j-slf4j-impl-2.6.2.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/hadoop/share/hadoop/common/lib/slf4j-log4j12-1.7.10.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.
SLF4J: Actual binding is of type [org.apache.logging.slf4j.Log4jLoggerFactory]

In [73]:
## Copia de los resultados a la maquina local (vagrant)
!hadoop fs -copyToLocal /tmp/output output
!ls output/*

output/000000_0

In [74]:
!cat output/000000_0 | head

5
6
7
10
11